/resources/*
!/resources/.gitkeep

__pycache__/
*.pyc

# Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.vscode/
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Logs
/logs/*
!/logs/.gitkeep
